.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    height: 100vh;
    background-color:#674bb1;
    margin: 0;
    padding: 0;
}
.main-div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: url("images/bg-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.div-left{
    width:60%;
    height:100%;
}
.div-right{
    width:40%;
    height:100%;
}
#logo{
    margin-top: 40px;
    margin-left: 30px;
}
#mockup{
    margin-top: 20px;
    margin-left: 30px;
}
h1{
   font-family: "Poppins";
   position: absolute;
   margin-top: 120px;
   color: white;
   font-weight: 700;
}
p{
    font-family: "Open Sans";
    color: white;
    margin-top: 225px;
    font-weight: 400;
}